#matches > ul
{
	padding: 0px;
	list-style-type: none;
}

#matches > ul > li
{
	height: 3em;
	margin-bottom: 0.5em;
}

#matches > ul > li > div
{
	line-height: 1em;
}
#matches > ul > li > #name
{
	font-size: 2em;
}

#matches > ul > li > img
{
	height: 3em;
	float: left;
	margin-right: 0.25em;
}