{{#if error}}
	<span class="warning">
		That username already exists!
	</span>
{{/if}}

<form action="/profile" method="post">
	<label for="username">Username: </label>
	<input type="text" id="username" name="username">
	<input type="submit">
</form>