{{#if error}}
	<span class="warning">
		{{error.message}}
	</span>
{{/if}}

<form method="post">
	<label for="username">Username: </label>
	<input type="text" id="username" name="username">
	<input type="submit">
</form>