{% load staticfiles %}
<!DOCTYPE>
<html>
	<head>
		<meta charset="UTF-8">
		<title>GetBizy!</title>
		<link href="{% static "style.css" %}" rel="stylesheet" type="text/css"/>
		<script src="{% static "utility/jquery.js"%}" type="text/javascript"></script>
	</head>
	<body>
		<header>
			<img src="{% static "images/logo.png" %}"/>
			<nav>
			{% block nav %}
				Hello, <a href="{% url 'my-profile' %}">{{profile.full_name}}</a> |
				<a href="{% url 'logout' %}">Logout</a> ?
			{% endblock nav %}
			</nav>
		</header>
		<section>
        {% block content %}
			<div id="public" class="view">
				<div id="left">
					<div id="user-box">
						<img id="picture" src="/media/{{profile_photo}}"/>
						<div id="name" class="overlay">{{profile.full_name}}</div>
						<div id="preference" class="overlay">
						{%for item in statuses %}
							{% if status == item.0 %} {{item.1}} {% endif %}
						{% endfor %}
						</div>
					</div>
				</div>
				
				<div id="right">
					<div id="skills-list">
					{% for skill in skills %}
						<span class="skill">{{skill}}</span>
					{% endfor %}
					</div>
					<p id="aboutme">
						{{description}}
					</p>
				</div>
				
				<div id="bottom">
					<a id="pass" class="button" href="{% url 'edit-profile' %}">Edit Profile</a>
					<a id="accept" class="button" href="{% url 'view-user' %}">Get Bizy!</a>
				</div>
			</div>
        {% endblock content %}
		</section>
		
		<footer>
			GetBizy is a project from Hackanooga!
		</footer>
	</body>
</html>
