{% extends 'account.html' %}
{% load staticfiles %}
{% block nav %}
{% endblock nav %}
{% block content %}
		
<section>
	
	<div id="splash" class="view">
		
		<img src="{% static "images/logo.png"%}" width="100%"/>
		
		<p>
			Are you feeling lonely while working on your projects? Do you want to find that *certain someone* to
			"collaborate" with you? Well search no further! <b>GetBizy</b> makes it easy to connect with others who
			are in your local area that have interests that match yours and skills you lack! After you found that
			*certain someone,* reach out to them via email to set up a business lunch to GET BIZY!
		</p>
		
		<div id="buttons">
			<a rel="nofollow" href="{% url "socialauth_begin" "linkedin" %}"><img 
			src="{% static "images/linked-in.png"%}" height="64px"/></a>
			<a rel="nofollow" href="{% url "socialauth_begin" "google-oauth2" %}"><img
			 src="{% static "images/google.png"%}" height="64px"/></a>
		</div>
	</div>
	
</section>
{% endblock content %}