@import url(/fonts/abel.css);
@import url(/fonts/fontawesome.css);
@import url(/fonts/ubuntu-light.css);

*
{
	margin: 0px;
}

html
{
	color: #222;
	font-size: 18px;
	font-family: ubuntu-light, calibri, sans-serif;
}

body
{
	background-color: #EEE;
	background-image: url("images/hoffman.png");
}

header, footer
{
	height: 2em;
	padding: 0.5em;
	line-height: 2em;
	
	color: #EEE;
	font-weight: bold;
	
	background-color: rgb(247, 87, 49);
}

header > menu
{
	float: right;
}

header > menu > a
{
	color: #222;
}

header > h1
{
	font: inherit;
}

header > h1 > a > img
{
	height: 2em;
}

footer
{
	text-align: center;
}