<div id="edit" class="view">
	<div id="left">
		<div id="user-box">
			<img id="picture" src="{{me.picture}}"/>
			<input id="name" class="overlay" type="text" value="{{me.name}}">
			<select id="preference" class="overlay">
				<option>Wants a short term fling</option>
				<option>Looking for a long term partner</option>
				<option>Already in an engagement</option>
				<option>It's complicated</option>
				<option>I'm fine with anything ;p</option>
			</select>
		</div>
	</div>
	
	<div id="right">
		<label for="skills-form">skills</label>
		(comma delimited list)
		<textarea id="skills-form"></textarea>
		
		<label for="aboutme-form">about me</label>
		(<span id="aboutme-chars-left">120</span> characters remaining)
		<textarea id="aboutme-form"></textarea>
		
		<a id="start" class="button" href="/next">Start searching!</a>
	</div>
</div>