#container
{
	padding-bottom:70px;
}

#logo
{
	float:left;
	height:5.5em;
	margin-top:-10px;
	padding-left:15px;
}

#blurb
{
	text-align:left;
	font-size:20px;
	
}

#login
{
	font-size:20px;
}

#linkedin 
{
	margin-top:20px;
	margin-right:20px;
	width:80px;
	height:80px;
}

#google
{
	margin-top:20px;
	margin-right:20px;
	width:80px;
	height:80px;
}
