{% extends 'account.html' %}
{% load staticfiles %}
{% block content %}
<div id="public" class="view">
	<div id="left">
		<div id="user-box">
			<img id="picture" src="/media/{{profile_photo}}"/>
			<div id="name" class="overlay">{{profile.full_name}}</div>
			<div id="preference" class="overlay">
			{%for item in statuses %}
				{% if status == item.0 %} {{item.1}} {% endif %}
			{% endfor %}
			</div>
		</div>
	</div>
	
	<div id="right">
		<div id="skills-list">
		{% for skill in skills %}
			<span class="skill">{{skill}}</span>
		{% endfor %}
		</div>
		<p id="aboutme">
			{{description}}
		</p>
	</div>
	
	<div id="bottom">
		<a id="pass" class="button" href="{% url 'view-user' %}">Keep Looking</a>
		<a id="accept" class="button" href="mailto:{{user.email}}">Get Bizy!</a>
	</div>
</div>
{% endblock content %}
