{% extends 'account.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block content %}
<section>		
<form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
<div id="edit" class="view">
	<div id="left">
		<div id="user-box">
			<img id="picture" src="/media/{{form_attrs.profile_photo}}"/>
			<input id="name" class="overlay" type="text" value="Tom Anderson">
			<select id="preference" class="overlay" name="status">
			{%for item in form_attrs.statuses %}
				<option{% if form_attrs.status == item.0 %} selected {% endif %} value="{{item.0}}">{{item.1}}</option>
			{% endfor %}
			</select>
		</div>
	</div>
	
	<div id="right">
		<label for="skills-form">skills</label>
		(<span id="skills-chars-left">120</span> characters left)
		<textarea id="skills-form" name="skills">{{form_attrs.skills}}</textarea>
		
		<label for="aboutme-form">about me</label>
		(<span id="aboutme-chars-left">120</span> characters left)
		<textarea id="aboutme-form" name="description">{{form_attrs.description}}</textarea>
		
		<input type="submit" value="Get started; Get Bizy!" id="start" class="button" href="">
	</div>
</div>
</form>

</section>
{% endblock content %}