{% extends 'account.html' %}
{% load staticfiles %}
{% block content %}
<section>		
<form action="{% url 'edit-profile' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
<div id="edit" class="view">
	<div id="left">
		<div id="user-box">
			<img id="picture" src="/media/{{form_attrs.profile_photo}}"/>
			<input id="name" class="overlay" type="text" name="full_name" value="{{profile.full_name}}">
			<select id="preference" class="overlay" name="status">
			{%for item in form_attrs.statuses %}
				<option{% if form_attrs.status == item.0 %} selected {% endif %} value="{{item.0}}">{{item.1}}</option>
			{% endfor %}
			</select>
		</div>
		<label for="profile-form">Update your profile pic?</label>
		<input type="file" id="profile-form" name="profile_photo" size="40">
		<label for="email-form">Email Address</label>
		<input id="email-form" name="email" size="40" value="{{user.email}}" />
	</div>
	
	<div id="right">
		<label for="skills-form">Your Skills (comma separated list) </label>
		<textarea id="skills-form" name="skills">{{form_attrs.skills}}</textarea>
		
		<label for="aboutme-form">Personal Bio</label>
		<textarea id="aboutme-form" name="description">{{form_attrs.description}}</textarea>

		<input type="submit" value="Update Profile" id="start" class="button" href="">
	</div>
</div>
</form>

</section>
{% endblock content %}