<!DOCTYPE html>
<html>
	<head>
		<title>Bizy</title>
		<meta charset="UTF-8">
		<link href="/default.layout.css" rel="stylesheet" type="text/css"/>
	</head>
	<body>

		<header>
			<a href="/">
				<img src="/images/logo.png" alt="Bizy"/>
			</a>
			<menu>
				{{#if me}}
					Welcome, <a href="/profile">{{me.name}}!</a>
					| <a href="/logout">Logout</a>
				{{else}}
					Heya! <a href="/login/google">Login</a>
				{{/if}}
			</menu>
		</header>

		<section>
			{{{body}}}
		</section>

		<footer>
			Bizy is a project from Hackanooga!
		</footer>

	</body>
</html>