@import url(fonts/ubuntu-light.css);
@import url(fonts/abel.css);

*
{
	margin: 0px;
}

body
{
	min-width: 356px;
	
	color: #222;
	font-size: 18px;
	font-family: ubuntu-light;
	
	background-color: #FFF;
	background-image: url("images/hoffman.png");
}

header, footer
{
	padding: 0.5em;
	line-height: 2em;
	
	color: #FFF;
	overflow: hidden;
	font-weight: bold;
	
	background-color: rgb(247, 87, 49);
}

header > img
{
	height: 2em;
}

header > nav
{
	float: right;
}

header > nav > span > a
{
	color: inherit;
	margin-left: 0.5em;
}

footer
{
	text-align: center;
}

section
{
	padding: 1em;
	margin: auto;
}

@media(max-width: 480px)
{
	header > nav > span
	{
		display: block;
		line-height: 1em;
	}
}



.view
{
	margin: auto;
	max-width: 658px;
	position: relative;
}

.view > #left
{
	width: 320px;
}

.view > #right
{
	top: 0px;
	bottom: 0px;
	left: 338px;
	width: 320px;
	position: absolute;
}

@media(max-width: 694px)
{
	.view
	{
		width: 320px;
	}
	
	.view > #right
	{
		margin-top: 1em;
		position: static;
	}
}

.view > #left > #user-box
{
	overflow: hidden;
	position: relative;
	border-radius: 7px;
}

.view > #left > #user-box > #picture
{
	width: 100%;
}

.view > #left > #user-box > .overlay
{
	color: #EEE;
	height: 32px;
	line-height: 32px;
	text-align: center;
	
	color: #111;
	width: 100%;
	border: none;
	font-size: inherit;
	font-family: inherit;
	
	background-color: rgba(238, 238, 238, 0.5);
}

.view > #left > #user-box > #name.overlay
{
	top: 0px;
	left: 0px;
	right: 0px;
	position: absolute;
	
	font-size: 28px;
	font-family: abel;
	font-weight: bold;
}

.view > #left > #user-box > #preference.overlay
{
	left: 0px;
	right: 0px;
	bottom: 0px;
	position: absolute;
}

.view > #left > #user-box > #preference.overlay > option
{
	color: #111;
}

.view > #right > #skills-list
{
	line-height: 2em;
	margin-bottom: 1em;
}

.view > #right > #skills-list > .skill
{
	padding: 0.25em;
	
	color: #FFF;
	border-radius: 2px;
	background-color: #525552;
}

.view > #bottom
{
	width: 320px;
	margin: auto;
	margin-top: 1em;
	position: relative;
}

.view > #bottom > .button
{
	height: 2em;
	display: block;
	
	color: #FFF;
	line-height: 2em;
	text-align: center;
	
	border-radius: 4px;
	background-color: #525552;
}

.view > #bottom > #accept.button
{
	width: 48%;
}

.view > #bottom > #pass.button
{
	width: 48%;
	float: right;
}

.view > #right > label
{
	font-weight: bold;
}

.view > #right > label:hover
{
	color: rgb(247, 87, 49);
}

.view > #right > textarea
{
	width: 100%;
	resize: none;
	height: 4.5em;
	margin-bottom: 1em;
	
	font-size: inherit;
	font-family: inherit;
}

.view > #right > .button
{
	height: 4em;
	display: block;
	
	color: #FFF;
	line-height: 4em;
	text-align: center;
	
	border-radius: 4px;
	background-color: #525552;
}

@media(max-width: 694px)
{
	.view > #right > #skills-list
	{
		text-align: center;
	}
}

#splash.view
{
	width: 320px;
}

#splash.view > p
{
	text-align: justify;
}

#splash.view > #buttons
{
	width: 142px;
	margin: auto;
	margin-top: 1em;
}