<div id="splash" class="view">
	
	<img src="images/logo.png" width="100%"/>
	
	<p>
		Are you feeling lonely while working on your projects? Do you want to find that *certain someone* to
		"collaborate" with you? Well search no further! <b>GetBizy</b> makes it easy to connect with others who
		are in your local area that have interests that match yours and skills you lack! After you found that
		*certain someone,* reach out to them via email to set up a business lunch to GET BIZY!
	</p>
	
	<div id="buttons">
		<a href=""><img src="images/linked-in.png" height="64px"/></a>
		<a href="/login/google"><img src="images/google.png" height="64px"/></a>
	</div>
</div>